{% extends "base.html" %}
{% block content %}
<div class="container">

                <div class="card text-center-p3" style="width:30rem; margin-bottom:50px;">
                  <img class="card-img-top" src="{{ object.image.url }}" width=100 alt="">
                      <div class="card-body">
                        <p>Name : {{ object.name}}<br></p>
                        <h4 class="card-title"> Price : {{object.price}}<br></h4>
                        <p class="card-text"> Description :{{object.description}}</p>
                        <p> Summary : {{object.summary}}</p>
                        <!-- This area is for add to cart function -->
                         <div class="col-12 col-md-6">
                                  {% include 'products/snippets/update_cart.html' with product=object cart=cart %}      
                          </div>                         
                      </div>
                </div>

</div>




{% endblock  %}