

<div class="card" style="width: 18rem; margin-bottom:50px;">
{% if instance.image.url %}
  <img class="card-img-top" src="{{ instance.image.url }}" alt="Card image cap">
      {% endif %}
  <div class="card-body">
    <h5 class="card-title">${{instance.price}}</h5>
    <!-- <p class="card-text"><a href ="{{instance.get_absolute_url}}"> {{instance.name}}</a></p>-->
    <p class="card-text"><a href ="{% url 'products:product-detail' slug=instance.slug %}"> {{instance.name}}</a></p>
    
    <a href="#" class="btn btn-primary">Add to cart</a>
     <p class="card-text"><small class="text-muted">{{instance.created_at}}</small></p>
  </div>
</div>