{% load static %}
{% url 'pages:home-page' as 'home_url'%}
{% url 'cart:cart-home' as cart%}


<nav class="navbar navbar-expand-sm mb-3 navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">{% if brand_name %}
            {{brand_name}}
        
        {% else %}
            Bentabols
        {% endif %}</a>
        
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation"></button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item ">
                    <a class="nav-link" href="/" {% if home_url %}
active
                    {% endif %}>Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/products/">Products</a>
                </li>
            <li class="nav-item">
                    <a class="nav-link" href="/featured">Featured</a>
                </li>
            <li class="nav-item">
                    <a class="nav-link" href="/page/contact">Contact Us</a>
                </li>
                {%if request.user.is_authenticated %}
            <li class="nav-item">
                    <a class="nav-link" href="/page/login">Logout</a>
                </li>
                {% else %}
            <li class="nav-item">
                    <a class="nav-link" href="/page/login">Login</a>
                </li>
            <li class="nav-item">
                    <a class="nav-link" href="/page/login">Register</a>
                </li>
              
                {%endif%}

            </ul>
                    <a class="nav-link" href="{{cart}}"  style="color:#FFF;"><span class="shopping-cart"><small>{{request.session.cart_items}}</small></span> <i class="fas fa-shopping-cart"></i></a>
            {% include "search/snippets/search_form.html" %}
        </div>
    </div>    
</nav>
