            <form class="form my-2 my-lg-0" method="get" action='{% url "search:query" %}' >
                <div class="input-group">
                        <input type="text"
                            class="form-control" name="q" id="" aria-describedby="helpId" placeholder="Search in Bentabols" value="{{ request.GET.q }}">
                            <span class="input-group-btn">
                            <button class="btn btn-outline-success" type="submit">Search</button></span>
                </div>
                    
            </form>