{% extends "base.html" %}
{% block content %}


<p></p>
    <div class="container">
            <div class="card col-10">       
                    <div class="card-body">
                        <form method="POST"> {% csrf_token %} 
                            {{form.as_p}}
                            
                        <button type="submit" class="btn btn-primary">Submit</button>
                        </form>                                       
                    </div>
            </div>
    </div>
{% endblock  %}